.sub-heading h5{
  font-family: "Montserrat",Sans-Serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 0.65rem;
    color: #424242;
    font-size: 1rem;
    opacity: 0.5
}

.sub-heading h2{
  font-family: "Barlow Condensed",Sans-Serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 20px 0;
    color: #424242;
    font-size: 1.8rem;
  
}



.consult{
  position: relative;
  
}

.consult::before{
  content:" ";
  display: block;
  height: 4px;
  width: 40px;
  position: absolute;
  transform: translatex(-50%);
  top: 140%;
  left: 50%;
  background: red;

}

/* .consult::before{
  display: inline-block;
    position: absolute;
    left: -1rem;
    width: 4px;
    height: 90%;
    background-color: #417505;
    content: "";

} */

.consult-img img{
  width: 100%;
}

.consult-info h2{
  font-family: "Barlow Condensed",Sans-Serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 20px 0;
  color: #424242;
  font-size: 1.8rem;
}

.consult-info h5{
    font-family: "Montserrat",Sans-Serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 0.65rem;
    color: #424242;
    font-size: 1rem;
    opacity: 0.5
}

.consult-info p{
  font-size: 18px;
  font-family: "Muli",Sans-Serif;
  color: #424242;
}